/*header*/
.nav-bar{
    display: flex;    
}

.nav-content{
    display: flex;
}

.div-plataforma {
  position: relative;     
  height: 500px;          
  overflow: hidden;       
}

.imagen-adaptable {
  width: 100%;
  height: 100%;
  object-fit: cover;     
}
.div-plataforma-content {
  position: absolute;
  top: 50%;               
  left: 10%;              
  transform: translateY(-50%); 
  color: white;           
}

@media (max-width: 768px){
    .nav-bar{
        justify-content: space-evenly;
    }
    .nav-content{
        gap: 10px;
        align-items: center;
        text-align: center;
    }
    .nav-content p{
        font-size: 10px; 
        margin-top: 0px;       
    }
}